@tailwind base;
@tailwind components;
@tailwind utilities;




/* Slider styles */
.slick-prev:before,
.slick-next:before {
  color: #dc2626; /* red-600 */
}

.slick-dots li button:before {
  color: #dc2626;
}

.slick-dots li.slick-active button:before {
  color: #dc2626;
  opacity: 1;
}

.slick-slide {
  padding: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}




